<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <h1 class="mb-0">
        <a class="navbar-brand py-4 lh-1" href="index.html">
          logo
        </a>
      </h1>
      
      <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-0" id="menu">
        <ul class="navbar-nav me-auto mb-4 mb-lg-0 gap-2 text-center">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="./login.html">登入</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="./register.html">免費註冊</a>
          </li>
          <li class="d-none" data-role="admin">
            <a class="nav-link" href="./admin-list.html">後台管理</a>
          </li>
          <li class="d-none" data-role="member">
            <a class="nav-link" href="./collection.html">收藏列表</a>
          </li>
          <li class="d-none" data-role="member">
            <a class="nav-link" href="./index.html" onclick="louout()">登出</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>