<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    
    <%- include('./components/header-admin.ejs') %>
    <%- contents %>

    <script src="../assets/js/vendors.js"></script>
    <script src="../assets/js/all.js"></script>
    <script src="../assets/js/config.js"></script>
    <% if( current == 'admin-list' ) { %>
      <script src="./assets/js/admin-list.js"></script>
    <% } else if( current == 'admin-add-tour' ) { %>  
      <script src="./assets/js/admin-add-tour.js"></script>
      <% } else if( current == 'admin-modify-tour' ) { %>  
        <script src="./assets/js/admin-modify-tour.js"></script>
    <% } %>  
  </body>

</html>